#desktop, .desktop {
  display: none;
}

.group-of-2 img{
  display: block;
  margin: 0px;
  padding: 0px;
}

div.top-2 img{
  display: inline-block;
  margin: 0px;
  padding: 0px;

}
div.bottom-2 img{
  display: inline-block;
  margin: 0px;
  padding: 0px;

}

.group-of-4 {
  /* width: 480px; */

}

@media only screen and (min-width: 768px) {
#mobile, .mobile {
  display: none;
}

#desktop, .desktop {
  display: block;
}

body {
  width: 980px;
}

nav {
  float: left;
}

.group-of-2 {
  float: right;
  margin: 0px;
  padding: 0px;
}

.group-of-2 img {
  display: inline-block;
  margin: 0px;
}

.group-of-4 div.top-2 {
  float: right;
}

.group-of-4 div.bottom-of-top img {
  float:right;
}

div.column-4 img{
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

footer {
  float: right;
}

}